<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="params == null">
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let categoria of categorias;">
          <ion-card>
            <img [src]="categoria.img" (click)="irACategoria(categoria.id)" padding-bottom class="imgCardMain"/>
            <ion-card-content >
              <ion-card-title>
                <h3>{{ categoria.nombre }}</h3>
              </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div *ngIf="params != null">
    {{this.params}}
  </div>
</ion-content>
