<ion-header>
    <ion-toolbar>
        <ion-button slot="end" color="light" (click)="this.menu.open('custom')">
            <ion-icon name="menu"></ion-icon>
        </ion-button>
        <ion-title class="ion-text-center">favoritos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="favs.length!==0">
    <ion-list>
        <ion-item *ngFor="let articulo of favs" (click)="iraArticulo(articulo.id)">
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        <img src="{{articulo.img}}"/>
                    </ion-col>
                    <ion-col size="6">
                        {{articulo.nombre}}
                        <br/>
                        <ion-icon size="large"
                                  name="heart"
                                  (click)="unfav(articulo)"
                                  style="color: red"
                                  class="ion-padding">
                        </ion-icon>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>

<ion-content *ngIf="favs.length===0">
    No hay Favoritos añadidos aun.
</ion-content>
