<ion-toolbar color="light">
    <ion-title>Prueba</ion-title>
    <ion-icon name="cart" slot="end"></ion-icon>
</ion-toolbar>

<ion-content>
    <div class="content">
        <ion-slides pager={true}>
            <ion-slide>
                <img src="{{this.slider[0]}}"/>
            </ion-slide>
            <ion-slide>
                <img src="{{this.slider[1]}}"/>
            </ion-slide>
            <ion-slide>
                <img src="{{this.slider[2]}}"/>
            </ion-slide>
        </ion-slides>
    </div>
    <ion-toolbar>Secciones</ion-toolbar>
</ion-content>




