<ion-header xmlns="http://www.w3.org/1999/xhtml">
    <ion-toolbar color="light">

        <ion-button slot="start" color="light" (click)="this.menu.open('custom')">
            <ion-icon name="menu"></ion-icon>
        </ion-button>
        <ion-title class="ion-text-center">
            RomeroTienda
        </ion-title>
        <ion-button slot="end" color="light" (click)="irACesta()">
            <ion-icon name="cart"></ion-icon>
        </ion-button>


    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="content">
        <ion-slides pager={true} [options]="slidesConfigTop">
            <ion-slide (click)="irACategoria('hombre')">
                <img src="{{this.slider[0]}}"/>
            </ion-slide>
            <ion-slide (click)="irACategoria('mujer')">
                <img src="{{this.slider[1]}}"/>
            </ion-slide>
            <ion-slide (click)="irACategoria('infantil')">
                <img src="{{this.slider[2]}}"/>
            </ion-slide>
        </ion-slides>
    </div>

    <ion-toolbar class="ion-text-center" color="danger">OFERTAS</ion-toolbar>

    <ion-slides [options]="sliderConfigArticles" style="background-color: darkgray" scrollbar="true">
        <ion-slide *ngFor="let product of articulos" (click)="this.irAArticulo(product.id)">
            <ion-card class="ion-card-style-custom">
                <ion-card-content>
                    <img src="{{product.img}}">
                </ion-card-content>

                <div class="content ">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <span style="font-size: xx-small">{{product.nombre }}</span>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="col-bottom">
                                <span style="font-size: xx-small;  padding-bottom: 10%">{{product.precio}}€</span>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-toolbar class="ion-text-center" color="light">Categorias</ion-toolbar>

    <ion-grid>
        <ion-row>
            <ion-col size="6" *ngFor="let categoria of categorias;">
                <ion-card>
                    <img [src]="categoria.img" (click)="irACategoria(categoria.id)"  class="imgCardMain ion-padding-bottom"/>
                    <ion-card-content >
                        <ion-card-title>
                            <h3>{{ categoria.nombre }}</h3>
                        </ion-card-title>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>




